{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load comment_tags %}
{% include_bootstrap %}
{% block link %}
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="{% static 'css/product_detail.css' %}" rel="stylesheet">
    <meta name="robots" content="noindex,follow"/>
{% endblock %}

{% block content %}
    <a href="{% url 'products:like' product.id %}" class="btn btn-info">{% trans "Like" %}</a>
    <main class="container">

        <!-- Left Column / Headphones Image -->

        <img src="{{ product.image.url }}" style="width: 300px;" alt="">


        <!-- Right Column -->
        <div class="right-column">

            <!-- Product Description -->
            <div class="product-description">
                <h1>{% trans product.name %}</h1>
                <p>{% trans product.description %} </p>
            </div>

            <!-- Product Configuration -->
            <div class="product-configuration">

                <!-- Product Pricing -->
                <div class="product-price">
                    <span>${{ product.price }}</span>
                </div>
            </div>
        </div>
    </main>
   <form action="" method="post" class="col-md-5">
       {% csrf_token %}
       <div>
           <label for="{{ form.quantity.id_for_label }}">{% trans "Quantity" %}</label>
           {{ form.quantity }}
       </div><br>
       <br>
       <input type="submit" value="{% trans 'Add to cart' %}" class="btn btn-danger">
   </form>

    <hr>

    <br><br>

    <!-- Comments Section -->
<div class="comments-section">
    <h3>{% trans 'Users Comments' %}</h3>
{% render_comments product request %}
</div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="{% static 'js/product_detail.js' %}" charset="utf-8"></script>
{% endblock %}

