{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<br>
<a href="{% url 'products:products_list' %}" class="btn btn-danger"><b>{% trans "All" %}</b></a>
{% for category in categories %}
<div class="btn-group">
      <a href="{% url 'products:category' category.slug %}" class="btn btn-danger"><b>{{ category.name }}</b></a>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>

      <ul class="dropdown-menu">
        {% for sub in category.category.all %}
            <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
        {% endfor %}
      </ul>
</div>
{% endfor %}<br><br>
{% for product in products %}
         <div class="col-lg-3 col-md-6 special-grid best-seller " style="display: inline-block;">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="{{ product.image.url }}" class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{% url 'products:detail' product.id product.slug %}">{% trans "Add to Cart" %}</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>{% trans product.name %}</h4>
                            <h5> ${{ product.price }}</h5>
                        </div>
                    </div>
                </div>
    <!-- End Products  -->
{% endfor %}
<br><br>

</div>



{% endblock %}