{% extends 'base.html' %}
{% block content %}<br>

   <form action="" method="post" class="col-md-5">
       {% csrf_token %}
       <div>
           <label for="{{ form.new_password1.id_for_label }}">{% trans "Phone number" %}</label>
           {{ form.new_password1 }}
       </div><br>
       <div>
           <label for="{{ form.new_password2.id_for_label }}">{% trans "Password" %}</label>
           {{ form.new_password2 }}
       </div>
       <br>
       <input type="submit" value="{% trans 'Send' %}" class="btn btn-danger">
       <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary">{% trans "Forget Password" %}</a>
   </form>

{% endblock %}